{% extends "foodbank/base.html" %}

{% load widget_tweaks %}

{% block title %}Foodbank Referrals{% endblock %}

{% block content %}
  <div class="wrapper">

    <!-- Page Content  -->
    <div id="content">
      <div class="container-fluid">
        <div class="card bg-light no-print">
          <div class="card-body">
            <div class="col-4">
              <h4 class="card-title text-center">Referral Date</h4>
            </div>
            <div class="row">
              <div class="col-4">
                <form id="filter-form" method="get" autocomplete="off">
                  <div class="form-group">
                    {% render_field foodbank_referral_filter.form.date %}
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <h4 class="mt-5 mb-3">Foodbank Referrals for {{ date|date:"l jS F Y"}}</h4>
        <div class="table-responsive">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th>Name</th>
                <th>Phone</th>
                <th class="no-print text-center">Edit</th>
                <th class="no-print text-center">Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for referral in foodbank_referral_filter.qs %}
                {% with referral.client as client %}
                  <tr>
                    <td class="btn-link"><a href="{{ client.get_absolute_url }}">{{ client.first_name }} {{ client.last_name }}</a></td>
                    <td>{{ client.phone }}</td>
                    <td class="btn-link text-center no-print"><a href="/foodbank/referral/{{ referral.pk }}/edit?referrer=referral&date={{ request.GET.date}}">Edit</a></td>
                    <td class="text-center no-print"><a href="/foodbank/referral/{{ referral.pk }}/delete?referrer=referral&date={{ request.GET.date}}"><i class="fas fa-trash"></i></a></td>
                  </tr>
                {% endwith %}
              {% endfor %}
              <tr><td style="font-weight: bold">Total: {{ foodbank_referral_filter.qs|length }}</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#id_date').on('change', function () {
        $('#filter-form').submit();
      });
    });

    $(function () {
      $("#id_date").datepicker({
        format:'yyyy-mm-dd',
      });
    });
  </script>
{% endblock %}
