{% extends "foodservice/base.html" %}

{% load crispy_forms_tags %}

**group/edit.html**

{% block title %}Edit Group{% endblock %}

{% block content %}
  <div class="container text-center">
    <h2 class="mt-5">Edit Group</h2>
    <form action="" method="post" class="justify-content-center">
      {% csrf_token %}
      {{ group_form.group_type|as_crispy_field }}
      <div class="row mt-5">
        <div class="col-6">
          <div class="form-group">
            <label>Group Type</label>
            <input type="text" value="{{ group_type }}" class="textinput textInput form-control" readonly>
          </div>
        </div>
        <div class="col-6 mt-4">
          {{ group_form.active|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          {{ group_form.name|as_crispy_field }}
        </div>
        <div class="col-6">
          {{ group_form.capacity|as_crispy_field }}
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-6">
          {% if action == 'create' %}
            <a href="/foodservice/grouptype/{{ group_type.pk }}" role="button" class="btn btn-primary btn-block">Cancel</a>
          {% else %}
            <a href="/foodservice/group/{{ group.pk }}" role="button" class="btn btn-primary btn-block">Cancel</a>
          {% endif %}
        </div>
        <div class="col-6">
          <button type="submit" class="btn btn-block btn-primary">Save</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
